.m-gambarMobile-tumb{
    max-height:83px;
}
a.m-div-ItemBisnis {
    display: block;
}
.m-fotoNewsUpdate img {
    width: 100%;
    height: 100%;
}
.m-judulNewsUpdate{
    margin-bottom:10px;
}
.m-shop-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-swip-img .m-div-btn{
    z-index: 1000;
}
label.error {
    color: red;
    font-weight: normal;
    font-size: .9em;
}
#menuMobile{
    z-index:1001;
    overflow-y: scroll;
}
.no-margin{
    margin:0px !important;
}
.m-ulasan-pro {
    border-bottom: 1px solid #eee;
}
.carousel-inner>.item>img{
    min-height:100%;
}
.ui-autocomplete {
    list-style: none;
    padding-left: 11px;
    background: rgba(255, 255, 255, 0.8);
}

.ui-autocomplete li.ui-menu-item {
    padding: 0px 0px 5px 0px;
}
.m-sub-head {
/*
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
*/
}
.m-produk-desk{
    display:block;
}
#ui-id-1.sidebar {
    z-index: 1003;
    position: absolute !important;
}
.m-tumbMobile img {
    width: 140px;
    height: 83px;
}

p.m-NamaBisnis-A {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    margin-bottom: 0px;
}
p.m-NamaBisnis-A:first-child{
    padding-top: 0px !important;
}

ul.nav.nav-tabs {
    font-size: 13px;
}

p.m-UpdateTerbaru-C {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    margin: 0px;
}
p.m-UpdateTerbaru-C:first-child{
    padding-top:0px;
}
.m-listUpdate{
    margin-top: 0px;
}
.m-navbarMenu {
   padding: 10px 3px;
   width: 50%;
}

a.m-tombolMobile{
    line-height:1;
}
.no-result {
    padding: 10px;
    margin-bottom: 20px;
    display:none;
}
.update-info-list{
    padding: 15px;
}
.update-info-list .info{
    width: 66.66666667%;
    float:left;
    margin-bottom: 0px;
}

.info.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.update-info-list .datetime{
    width: 33.33333333%;
    float:right;
    text-align:right;
    color: #219fd1;
    font-family: 'Roboto';
    font-weight: 300;
    font-size:12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info-row {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #777777;
}
.verified{
    margin-left: 10px;color: #4acce8;
}
.modal-footer .m-btn-query{
    margin:0px !important;
}
.modal-footer .m-btn-query:last-child{
    border-left:1px solid #FFF;
}