.m-header-flow {
  height:60px;
  background:#ffd600;
  display:flex;
  z-index:10;
}

.m-arrow-back {
  display:flex;
  padding:10px 0;
  float:left;
  position:absolute;
}

.m-li-back {
  display:block;
  height:100%;
  text-decoration:none;
  float:left;
}

.m-ic-arrow {
  font-size:38px;
  display:block;
}

.m-title-flow {
  font-family:'Roboto';
  font-size:21px;
  font-weight:400;
  text-align:center;
  margin:auto;
  color:#333333;
}

.m-li-back:hover {
  text-decoration:none;
}

.m-flow-div {
  padding:20px;
  background:#fff;
  bottom:0;
  top:0;
  margin-top:60px;
  position:absolute;
  width:100%;
}

.m-input-phone {
  height:45px;
  width:100%;
  font-family:'Roboto';
  font-weight:300;
  padding:0 10px;
  border:1px solid #eee;
}

.m-input-email {
  height:45px;
  width:100%;
  font-family:'Roboto';
  font-weight:300;
  padding:0 10px;
  border:1px solid #eee;
}

.m-input-name {
  height:45px;
  width:100%;
  font-family:'Roboto';
  font-weight:300;
  padding:0 10px;
  border:1px solid #eee;
}

.m-label-input {
  margin:0 0 5px;
  color:#555555;
  font-family:'Roboto';
  font-weight:400;
  font-size:14px;
}

.m-required {
  color:#d92525;
}

.m-div-form {
  margin-top:5px;
  margin-bottom:5px;
}

.m-input-ulasan {
  width:100%;
  border-radius:0;
  border:1px solid #eee;
  font-family:'Roboto';
  font-weight:300;
  padding:10px;
}

.m-div-captcha {
  width:60%;
  padding:10px;
  border:1px solid #eee;
}

.m-btn-kirim {
  background:#4acce8;
  padding:10px;
  height:50px;
  border-radius:0;
  border:none;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
  bottom:0;
}

