.full-block-white {
  background: #fff;
  display: block;
  box-shadow: 0px 5px 13px -2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 5px 13px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 13px -2px rgba(0,0,0,0.2);
}

.signup-mobile {
  width: calc(100% - 30px);
  margin: 0 auto 20px;
  min-height: calc(100vh + 35px);
  position: relative;
}

.signup-method {
  padding: 70px 0 0;
}

.signin-method {
  padding: 40px 0 0;
}

.signup-profile {
  padding: 20px 0 0;
}

.signup-business {
  padding: 20px 0 0;
}

.signup-done {
  padding: 180px 0 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.title-signup {
  font-size: 18px;
  color: #2f2f2f;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: center;
  margin: 15px 0;
}

.signup-mobile p{
  font-family: Roboto;
  color: #777;
  font-weight: 300;
}

.signup-mobile p a {
  color: #219fd1;
}

.signed-already{
  display: block;
  margin: 20px 0;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-100{
  -ms-flex-preferred-size: 100%;
  flex-basis:100%;
}

.btn-social{
  text-align: left;
  width: 100%;
  height: 43px;
  line-height: 43px;
  margin: 10px auto;
  padding-left: 67px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
}

.btn-fesbuk{
  background: #3b5998;
  color: #fff;
}

.btn-gugel{
  background: #4283f1;
  color: #fff;
}

.btn-imel{
  background: #ff4f1f;
  color: #fff;
  border: none;
}

.btn-upload{
  background: #ddd;
  color: #777;
  width: 100%;
  height: 43px;
  line-height: 43px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

.btn-upload i {
  margin-right: 5px
}

.btn-fesbuk i, .btn-gugel i, .btn-imel i{
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 15px;
}

.btn-fesbuk i:after, .btn-gugel i:after, .btn-imel i:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 1px;
  height: 50%;
  background: white;
}

.signup-atau {
  display: block;
  margin: 10px auto 20px;
  text-align: center;
}

.signup-atau:before {
  right: 100%;
  margin-right: 15px;
}

.signup-atau:after {
  right: 100%;
  margin-left: 15px;
}

.signup-atau:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 175px;
  height: 1px;
  background: #777;
}

.strike{
  display: block;
  text-align: center;
  margin: 15px 0 20px;
  white-space: nowrap;
  overflow: hidden
}

.strike>span{
  position: relative;
  display: inline-block;
  color: #777;
}

.strike>span:before {
  right: 100%;
  margin-right: 15px;
}

.strike>span:after {
  left: 100%;
  margin-left: 15px;
}

.strike>span:before, .strike>span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 175px;
  height: 1px;
  background: #777;
}

.input-text-signup {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  height: 41px;
  line-height: 33px;
  color: #616161;
  font-size: 15px;
  font-weight: 200;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
}

.input-text-space {
  margin: 10px 0;
}

.textare-signup {
  min-height: 100px;
}

.form-input-group {
  margin-bottom: 70px;
}

.btn-bottom-signup {
  text-align: center;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: calc(100% + 30px);
  margin-left: -15px;
}

.btn-primary-signup {
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  background: #4acce8;
  float: left;
  margin-right: 0.5px;
  text-shadow: none;
  font-family: Roboto;
  color: #fff;
  font-weight: 300;
}

.forgot-pass {
  margin: 10px 0;
}

.checkbox-signin {
  margin:15px 0 5px;
  font-family: Roboto;
  font-weight: 300;
  color:#777;
}

.ingat-saya {
  margin: 0 10px 0 0 !important;
}

.map-signup {
  height: 295px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}
.signed-already a {
  color: #219fd1;
}
span.select2-selection__arrow {
  margin-top: 15px;
}

span.select2-selection.select2-selection--single {
  height: 41px;
  padding-top: 5px;
  border: 1px solid #ddd;
  margin: 10px 0px
}

.select2-selection__rendered {
  color: #616161 !important;
}

.select2-container {
  margin: 10px 0px;
}

.select2-container .select2-selection--multiple {
  min-height: 41px !important;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd !important;
}
.select2-selection__rendered {
  padding-left: 15px !important;
}
