.m-navMenu-side {
  margin-top:50px;
  padding:10px;
}

.m-navMenu {
  display:none;
  float:right;
}

a.m-navbarLink-overlay {
  height:40px;
  display:block;
  padding:5px 5px;
  margin-top:10px;
  color:#2f2f2f;
  font-size:13px;
  font-family:'Roboto';
  font-weight:400;
  transition:0.3s;
}

a.m-navbarLink {
  height:40px;
  display:block;
  margin-left:5px;
  padding-left:10px;
  padding-right:10px;
  padding-top:9px;
  background:rgba(13,13,13,0.56);
  color:#fff;
  font-size:12px;
  font-family:'Roboto';
  font-weight:400;
}

a.m-navbarLink-Float {
  height:40px;
  display:block;
  margin-left:5px;
  padding-left:10px;
  padding-right:10px;
  padding-top:9px;
  background:rgba(13,13,13,0.56);
  color:#fff;
  font-size:12px;
  font-family:'Roboto';
  font-weight:400;
}

a.m-navbarLink-Sidebar {
  height:45px;
  display:block;
  border-bottom:1px solid #333;
  padding:12px 10px;
  color:#fff;
  font-size:12px;
  font-family:'Roboto';
  font-weight:400;
}

.m-heroWebsite {
  padding:5em 0;
  display:block;
  height:350px;
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.33)),
                rgba(0,0,0,0.54);
  background-size:cover;
  margin-top:-65px;
}

.m-headerNav {
  height:60px;
  margin:auto;
  padding-left:15px;
  padding-right:15px;
  background:transparent;
}

.m-headingHero {
  text-align:center;
  margin:10% auto;
}

h1.m-heroText {
  color:#fff;
  font-family:'Roboto';
  font-weight:400;
  font-size:28px;
  line-height:1.3;
  min-height:100px;
  height:100px;
}

button.btn.btn-default.m-buttonHero {
  margin-top:24px;
  border:none;
  border-radius:4px;
  background:#ffd600;
  color:#000;
  text-shadow:none;
  font-size:14px;
  font-family:'Roboto';
  padding-left:30px;
  padding-right:30px;
  font-weight:400;
  padding-top:12px;
  padding-bottom:12px;
}

.m-barBawahHero {
  height:70px;
  background:#ffd600;
  padding-left:15px;
  padding-right:15px;
  display:flex;
  width:100%;
}

.m-inputDiv {
  width:20%;
  padding-top:18px;
  margin-right:12px;
}

.formInputBisnis {
  border-radius:0;
  border:1px solid #b7b7b7;
}

.m-tblDropdownBisnis {
  background:#fff;
  border:none;
  border-radius:0;
  padding:6px 12px;
}

.m-divInput-enter {
  padding-top:18px;
  width:15%;
}

.m-divInput-cariSide {
  margin-top:15px;
}

.m-divInput-cari {
  padding-top:12px;
}

.m-divInput-lokasi {
  padding-top:18px;
  width:25%;
  margin-right:12px;
}

.divInputSide-lokasiProduk {
  margin-top:15px;
}

.m-divInput-lokasiProduk {
  padding-top:12px;
  width:35%;
  margin-right:-1px;
}

.m-divInput-servis {
  padding-top:18px;
  width:35%;
  margin-right:12px;
}

.m-divInputSide-produk {
  margin-top:15px;
}

.m-divInput-produk {
  padding-top:12px;
  width:50%;
  margin-right:5px;
}

.m-textInputLokasi-side {
  height:40px;
  width:100%;
  border:1px solid #b7b7b7;
  padding:5px 10px;
}

.m-textInputLokasi {
  height:34px;
  width:100%;
  border:1px solid #b7b7b7;
  padding-left:10px;
}

.m-textInputServis-side {
  height:40px;
  width:100%;
  border:1px solid #b7b7b7;
  padding-left:10px;
}

.m-textInputServis {
  height:34px;
  width:100%;
  border:1px solid #b7b7b7;
  padding-left:10px;
}

button.btn.btn-default.btn-block.m-tombolTemukan {
  background:#2f2f2f;
  text-shadow:none;
  color:#fff;
  font-size:12px;
  font-family:'Roboto';
  font-weight:400;
  height:34px;
  border-radius:0;
  border:none;
  transition:0.3s;
}

button.btn.btn-default.btn-block.m-tombolTemukanSide {
  background:#4acce8;
  text-shadow:none;
  color:#fff;
  font-size:12px;
  font-family:'Roboto';
  font-weight:400;
  height:40px;
  border-radius:0;
  border:none;
  transition:0.3s;
}

.m-tblDropdown-Bisnis {
  border:1px solid #b7b7b7;
}

.btn.btn-default.btn-block.m-tombolTemukan:hover {
  background:#181717;
}

a.left.carousel-control.kontrol-kiri {
  background:transparent;
}

a.right.carousel-control.kontrol-kanan {
  background:transparent;
}

.slide-inside {
  display:flex;
}

body {
  background:#efefef;
  font-family: Roboto;
  font-weight: 100;
}

.bisnis-slide {
  height:110px;
  margin-bottom:5px;
  background-size:cover;
  background-repeat:no-repeat;
}

.m-namaBisnis-slide {
  margin-bottom:0;
  color:#464646;
  font-size:15px;
  font-family:'Roboto';
  text-overflow:ellipsis;
  overflow:hidden;
  display:block;
  width:100%;
  white-space:nowrap;
}

.m-lokasiBisnis-slide {
  font-size:12px;
  color:#464646;
  display:block;
  width:100%;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

@media (min-width:991px) {
  .kolom-slide {
    padding:10px;
  }
}

@media (max-width:991px) {
  .kolom-slide {
    padding:5px;
  }
}

.m-slideBisnis-inner {
  padding:8px;
  background:#fff;
  border:1px solid #c8c8c8;
}

@media (max-width:991px) {
  .kontainerSlide {
    width:90%;
    margin-left:5%;
    margin-right:5%;
  }
}

@media (min-width:991px) {
  .kontainerSlide {
    margin-left:15%;
    margin-right:15%;
  }
}

div.swiper-wrapper {
  margin:auto;
  z-index:1;
}

div.swiper-pagination {
  position:absolute;
  top:0;
}

.divBisnisPilihan {
  padding-left:15%;
  padding-right:15%;
  text-align:center;
  margin-top:3em;
  margin-bottom:1em;
}

.HeaderBisnisPilihan {
  font-family:'Roboto';
  font-weight:400;
  color:#464646;
}

.swiper-button-prev {
  background-image:url(../../assets/img/arrow-kiri.png);
}

.swiper-button-next {
  background-image:url(../../assets/img/arrow-kanan.png);
}

.m-galeriProduk {
  padding-right:0;
  padding-left:0;
  margin:auto;
}

.m-introNewsUpdate {
  font-size:16px;
  text-align:center;
}

.m-introKategori {
  font-size:16px;
  text-align:center;
  margin-top:15px;
}

.m-kolomKategoriBisnis {
  min-width:120px;
  width:120px;
  height:120px;
  padding:5px;
}

.m-div-kategoriBisnis {
  padding-left:15px;
  padding-right:15px;
}

.div-blokBisnis {
  background:#e4e4e4;
  padding:10px;
  margin:5px;
  height:110px;
  min-width:110px;
  width:110px;
  text-align:center;
  transition:0.3s;
}

.m-div-ItemBisnis {
  background:#e4e4e4;
  padding:10px;
  height:110px;
  text-align:center;
  transition:0.3s;
}

.ikonBisnis {
  font-size:65px;
  color:#464646;
}

.m-nama-ikonBisnis {
  margin:0;
  font-size:16px;
  font-family:'Roboto';
  font-weight:400;
  color:#464646;
  display:block;
  height:27px;
  bottom:0;
}

.m-gbr-ikon {
  width:50px;
  margin-top:5px;
  margin-bottom:5px;
}

.m-divGambarIcon {
  height:60px;
  max-height:60px;
}

.m-judulKategoriBisnis {
  font-size:22px;
  color:#464646;
  font-family:'Roboto';
  font-weight:400;
  margin:10px;
}

.m-div-ItemBisnis:hover {
  background:#d2d2d2;
  cursor:pointer;
}

.m-seksi-kategoriBisnis {
  padding-bottom:15px;
  margin-bottom:15px;
}

.m-subFooter-1 {
  color:#464646;
  text-align:left;
  padding-top:15px;
  padding-bottom:20px;
}

.m-footer-judul-a {
  font-size:22px;
  font-family:'Roboto';
  font-weight:400;
  margin:0;
}

.m-seksi-TigaKolom {
  background:#fff;
  padding-top:1em;
  padding-bottom:2em;
}

.m-tombolDropdown.btn-default:focus, .m-tombolDropdown.btn-default:hover {
  background-color:transparent;
  background-position:0 -15px;
}

.m-tombolDropdown.btn-default:active:focus, .m-tombolDropdown.btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color:#333;
  border-radius:0;
  background-color:#fff;
  border:none;
  border-radius:3px;
}

.tombolDropdownSide.btn-default:active:focus, .tombolDropdownSide.btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color:#333;
  border-radius:0;
  background-color:#fff;
  border:none;
  border-radius:3px;
}

@media (max-width:991px) {
  .breadcrumb > li + li:before {
    padding:0 5px;
    color:#2f2f2f;
    content:">";
    font-size:12px;
    font-family:'Roboto';
  }
}

@media (min-width:991px) {
  .breadcrumb > li + li:before {
    padding:0 5px;
    color:#2f2f2f;
    content:">";
    font-size:16px;
    font-family:'Roboto';
  }
}

.simple-slider .swiper-slide {
  height:210px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  margin:auto;
  overflow:hidden;
}

.m-tumbMobile {
  width:150px;
  height:150px;
  max-height:150px;
  min-width:150px;
  background:#fff;
  padding:5px;
  overflow:hidden;
  margin:5px;
}

.m-gambarMobile-tumb {
  width:100%;
  height:auto;
}

.m-koroselProdukMobile {
  padding:10px 0px;
  background:#fff;
  margin-top:10px;
  margin-bottom:10px;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
}

.row.photos {
  display:none;
}

.kategoriBisnis-touch {
  height:130px;
  overflow-y:scroll;
  width:100%;
  padding:5px 0px;
  display:flex;
}

ul.nav.nav-tabs {
  border:none;
  width:100%;
  height:50px;
  overflow-y:scroll;
  display:flex;
}

.tab-latest li {width:33.3333%}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color:#555;
  cursor:default;
  background-color:#fff;
  border-bottom:2px solid #219fd1;
  border-top:0;
  border-left:0;
  border-right:0;
  border-radius:0;
}

.nav-tabs > li > a {
  margin-right:0px;
  line-height:1.42857143;
  border:1px solid transparent;
  border-radius:0;
  padding:10px 5px;
  text-align:center;
}

.m-tabMobile {
  margin-left:15px;
  margin-right:15px;
}

.m-kolomTabKonten {
  padding:15px 0px;
}

.m-artikelBlok {
  height:auto;
  padding:8px 0;
  overflow-y:scroll;
  display:flex;
}

@media (max-width:767px) {
  .tombolKolapse {
    text-align:center;
  }
}

@media (min-width:767px) {
  .tombolKolapse {
    display:none;
  }
}

.m-btnKolapse {
  margin:auto;
  background:transparent;
  color:#fff;
  text-shadow:none;
  border:none;
  box-shadow:none;
  padding:5px 0px;
  text-align:center;
}

.menuKolapse-ikon {
  font-size:22px;
  padding:10px 0px;
}

.m-btnKolapse:focus {
  background:transparent;
  border:none;
  box-shadow:none;
  color:#c8c8c8;
}

.m-btnKolapse:active, .m-btnKolapse:hover {
  background:transparent;
  border:none;
  box-shadow:none;
  color:#c8c8c8;
}

, {
  background:transparent;
  border:none;
  box-shadow:none;
  color:#c8c8c8;
}

#buka-tutup {
}

.m-textCollapse {
  margin:0;
  padding:4px;
  font-family:'Roboto';
  font-weight:300;
}

.m-menuFlex {
  display:inline-flex;
}

.m-swip-img {
  display:block;
  height:220px;
  overflow:hidden;
}

.carousel-indicators {
  top:10px;
  height:auto;
  color:#ed145b;
}

.korosel {
  height:100%;
}

.item {
  height:100%;
}

.m-div-slide {
  height:220px;
  overflow:hidden;
}

.m-blok-img-2 {
  height:auto;
  width:100%;
  min-width:100%;
  background:url(../../assets/img/desk.jpg);
  background-size:cover;
}

.m-blok-img-1 {
  height:auto;
  width:100%;
  min-width:100%;
  background:url(../../assets/img/building.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

.photo-gallery {
  color:#464646;
  margin:auto;
}

.photo-gallery h2 {
  font-weight:400;
  font-size:26px;
  font-family:'Roboto';
  margin-bottom:20px;
  color:inherit;
  color:#464646;
}

.m-slideBisnis-inner:hover {
  opacity:0.8;
  transition:0.3s;
  cursor:pointer;
}

.buttonHero:hover {
  background:#ffde31;
  -webkit-box-shadow:0px 0px 29px 2px rgba(240,175,62,0.67);
  -moz-box-shadow:0px 0px 29px 2px rgba(240,175,62,0.67);
  box-shadow:0px 0px 29px 2px rgba(240,175,62,0.67);
  transition:0.3s;
}

.m-menuOverlay {
  display:none;
  position:fixed;
  top:0;
  width:100%;
  height:50px;
  background:#ffd600;
  z-index:999;
  padding-left:15px;
  padding-right:15px;
  -webkit-box-shadow:0px 3px 20px 1px rgba(255,219,156,0.28);
  -moz-box-shadow:0px 3px 20px 1px rgba(255,219,156,0.28);
  box-shadow:0px 3px 20px 1px rgba(255,219,156,0.28);
}

.m-menuNavbar {
  padding-left:15px;
  padding-right:15px;
  width:100%;
  height:60px;
  background:#ffd600;
  z-index:999;
  -webkit-box-shadow:0px 5px 20px 1px rgba(255,219,156,0.28);
  -moz-box-shadow:0px 5px 20px 1px rgba(255,219,156,0.28);
  box-shadow:0px 5px 20px 1px rgba(255,219,156,0.28);
}

.m-UpdateTerbaru-C {
  font-family:'Roboto';
  font-size:14px;
  font-weight:400;
  margin-bottom:15px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

p.m-NamaBisnis-A {
  font-family:'Roboto';
  font-size:14px;
  font-weight:400;
  margin-bottom:10px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.m-kontainer-Update {
  padding-left:15px;
  padding-right:15px;
  display:none;
}

.m-koroselProduk {
  padding-left:10px;
  padding-right:9px;
  margin:auto;
  display:none;
}

.m-produkShow-item {
  padding:5px;
}

.m-KoroselProduk-row {
  margin:0;
}

.m-deskripsiBisn {
  margin:0;
}

.btn-success:hover {
  background:transparent;
}

.m-bisnisPilihan {
  font-size:22px;
  font-family:'Roboto';
  font-weight:400;
  color:#464646;
  margin-bottom:10px;
  margin-top:10px;
}

.navbarLink-overlay:hover {
  background:#fff;
  border-radius:4px;
  text-decoration:none;
}

.m-koroselArtikel {
  background:#d9d9d9;
  padding-top:1em;
  padding-bottom:1em;
}

.m-fotoNewsUpdate {
  width:100%;
  height:120px;
  min-width:60px;
  background-size:cover;
  background:none;
  background-position:center;
}

.m-info-newUpdate {
  padding:5px;
}

.m-judulNewsUpdate {
  margin:0;
  font-family:'Roboto';
  font-size:16px;
  color:#464646;
}

p.m-source-News {
  font-family:'Roboto';
  font-weight:400;
  font-size:11px;
  color:#464646;
  margin-top:5px;
  margin-bottom:5px;
}

.m-desk-NewsUpdate {
  color:#464646;
  font-size:12px;
  font-family:'Roboto';
  font-weight:400;
}

a.kiri.fa.fa-chevron-left {
  margin-top:-105px;
}

a.kanan.fa.fa-chevron-right {
  margin-top:-105px;
}

.m-divArtikelFooter {
  background:#2f2f2f;
  padding-bottom:0;
  padding-left:15px;
  padding-right:15px;
}

.m-divArtikelFooter-produk {
  background:#2f2f2f;
  padding-bottom:1em;
  padding-left:15px;
  padding-right:15px;
}

.m-footer-introProduk {
  padding-left:0;
  padding-right:0;
}

.m-rowFooter {
  margin:0;
  border-top:1px solid #414141;
}

.m-kolomFooter-2 {
  padding:5px 0px;
}

.m-kolomFooter-1 {
  padding:5px 0px;
  min-height:160px;
}

.m-JudulFooter-1 {
  color:#ffd600;
  font-family:'Roboto';
  font-weight:500;
  font-size:16px;
}

a.m-linkFooter {
  font-family:'Roboto';
  font-size:14px;
  color:#efefef;
  font-weight:300;
  padding-top:2px;
  display:block;
  padding-bottom:3px;
}

a.m-linkFooter:hover {
  color:rgba(255,214,0,0.95);
  text-decoration:none;
}

.m-divFooter-A {
  padding-bottom:5px;
}

.m-divFooter-B {
  padding-top:5px;
}

.m-barisCopyright-collaps {
  margin:0;
  padding-top:20px;
  border-top:1px solid #414141;
}

.m-barisCopyright {
  margin:0;
  padding-top:20px;
  border-top:1px solid #414141;
}

.m-kolomCopyright {
  padding:0;
  margin-bottom:20px;
}

.m-copyrightKolom {
  display:block;
  width:50%;
  text-align:center;
}

.m-logoMDM {
  width:auto;
  height:25px;
  margin-left:5px;
}

.m-logoTelkom {
  width:auto;
  height:25px;
  margin-right:5px;
}

.m-copyrightDiv-1 {
  display:flex;
}

p.m-text-copyright {
  color:#efefef;
  font-family:'Roboto';
  font-weight:300;
  font-size:10px;
  text-align:left;
}

.m-divTExtCopy {
  margin-left:5px;
  width:100%;
}

.m-koroselBisnis {
  margin:0;
}

.navbarMenu-norm {
  display:flex;
}

img.logoWebsiteFloat {
  height:36px;
  display:block;
  margin-top:12px;
  margin-left:10px;
}

img.logoWebsite {
  width:55px;
  height:auto;
}

.m-navbarMenu {
  padding:15px 3px;
  width:50%;
}

.m-navbarMenuFloat {
  padding:10px 5px;
  float:right;
}

a.m-navbarLink:hover {
  background:#ffd600;
  color:#333;
  text-decoration:none;
  transition:0.3s;
}

.m-NewsUpdate-mobile {
  background:#FFF;
  padding:2px;
  margin:5px;
  height:auto;
  min-width:55%;
}

.sld-img {
  width:100%;
  height:auto;
}

.m-slide-ctrl {
  display:none;
}

.m-NewsUpdate-mobile {
  background:#FFF;
  padding:2px;
  margin:5px;
  height:auto;
  min-width:55%;
}

.col-item-NewsUpdate {
  border:1px solid #c9c8c8;
  background:#FFF;
  padding:12px;
  display:flex;
  margin-bottom:5px;
  margin-top:5px;
}

.col-item {
  border:1px solid #c9c8c8;
  background:#FFF;
  padding:8px;
}

.col-item .photo img {
  margin:0 auto;
  width:100%;
}

.col-item .info {
  padding:1px;
  border-radius:0 0 5px 5px;
  margin-top:1px;
}

.col-item .price {
  float:left;
  margin-top:5px;
}

.col-item .price h5 {
  line-height:20px;
  margin:0;
}

.price-text-color {
  color:#219FD1;
}

.col-item .info .rating {
  color:#777;
}

.col-item .rating {
  float:left;
  font-size:17px;
  text-align:right;
  line-height:52px;
  margin-bottom:10px;
  height:52px;
}

.col-item .separator {
  border-top:1px solid #E1E1E1;
}

.clear-left {
  clear:left;
}

.col-item .separator p {
  line-height:20px;
  margin-bottom:0;
  margin-top:10px;
  text-align:center;
}

.col-item .separator p i {
  margin-right:5px;
}

.col-item .btn-add {
  width:50%;
  float:left;
}

.col-item .btn-add {
  border-right:1px solid #E1E1E1;
}

.col-item .btn-details {
  width:50%;
  float:left;
  padding-left:10px;
}

.controls {
  margin-top:0;
  display:none;
}

[data-slide="prev"] {
  margin-left:-45px;
  margin-top:-120px;
  float:left;
  background:transparent;
  border:none;
  box-shadow:none;
  color:#2f2f2f;
}

[data-slide="next"] {
  margin-right:-45px;
  margin-top:-120px;
  float:right;
  background:transparent;
  border:none;
  box-shadow:none;
  color:#2f2f2f;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
  color:#fff;
  background-color:transparent;
  border-color:transparent;
  box-shadow:none;
}

.m-navbarLink-Float:hover {
  background:#fff;
  border-radius:3px;
  transition:0.3s;
  text-decoration:none;
}

.tombolDropdownSide {
  background:#fff;
  border:none;
  border-radius:0;
  width:100%;
  box-shadow:none;
  -webkit-box-shadow:none;
  text-shadow:none;
  height:35px;
  text-align:left;
  padding:7px 15px;
}

.m-tombolDropdown {
  background:transparent;
  border:none;
  box-shadow:none;
  -webkit-box-shadow:none;
  text-shadow:none;
  height:32px;
}

.m-divHeaderInput {
  margin-top:12px;
  height:34px;
}

div.m-divInput {
  display:none;
}

.m-dropTemukan-side {
  margin-top:1px;
}

.m-dropTemukan {
  margin-top:1px;
  margin-right:5px;
}

.m-rowKontenProduk {
  margin:0;
  background:#fff;
  border:1px solid #c8c8c8;
}

.m-divBodiKonten {
  padding:0;
}

.m-kontenProduk {
  padding:0;
  border-right:none;
}

.m-judulDetailProduk {
  width:90%;
}

.m-judulProduk-detail {
  margin:0;
  font-size:24px;
  font-family:'Roboto';
  font-weight:400;
  color:#2f2f2f;
}

.m-bagianJudul {
  display:flex;
}

.m-shareButton:hover {
  opacity:1;
  transition:0.3s;
}

.m-shareButton {
  height:30px;
  opacity:0.5;
  margin:1px;
}

.m-divShare {
  width:10%;
  text-align:right;
}

.m-textBreadcum {
  font-family:'Roboto';
  text-decoration:none;
  font-size:14px;
  color:#2f2f2f;
}

.m-breadcrumProduk {
  padding:5px 0px;
  background:none;
  margin-bottom:15px;
}

.m-textBreadcum:hover {
  cursor:pointer;
  text-decoration:none;
}

.m-ikonBintang {
  font-size:28px;
  color:#ffd600;
}

.m-gambarDanInfo {
  height:auto;
}

.m-hargaHubungi {
  font-family:'Roboto';
  font-weight:400;
  color:#2f2f2f;
  margin-bottom:5px;
  margin-top:2px;
  font-size:18px;
  text-align:center;
}

.m-kontakPar {
  color:#2f2f2f;
  font-family:'Roboto';
  font-size:14px;
  padding-top:1px;
}

div.m-kontakTelpon {
  display:block;
  margin-top:10px;
  text-align:center;
}

.m-ikonTelpon {
  color:#2f2f2f;
  font-size:18px;
  margin-right:10px;
}

.m-DivTombol {
  margin-top:10px;
  text-align:center;
}

.m-JudulDLL {
  padding:10px;
  height:auto;
  border-bottom:1px solid #c8c8c8;
}

.m-DetailProduk-dll {
  padding:15px;
  border-bottom:1px solid #c8c8c8;
}

.m-judulTabProduk {
  margin:0;
  font-family:'Roboto';
  font-weight:500;
  font-size:14px;
  margin-right:10px;
  color:#2f2f2f;
  overflow:hidden;
  text-align:left;
  height:25px;
}

.m-tabDetailProduk {
  width:100%;
  margin-bottom:10px;
  text-align:center;
  display:flex;
}

.m-judulTabProduk:hover {
  border-bottom:2px solid #ffd600;
  cursor:pointer;
}

.modal-backdrop {
  background:#fff;
  opacity:0.8!important;
}

.typeUMKM {
  background:rgba(1,1,1,0.61);
  padding-left:7px;
  color:#ffd600;
}

a {
  color:#333;
}

.m-mobileMenuFloat {
  float:right;
  margin-top:-1px;
}

.m-mobileMenuFloat-side {
  float:right;
  margin-top:15px;
}

.m-mobileMenu {
  float:right;
  z-index:555;
}

a.m-tombolMobileFloat {
  display:block;
  padding:2px 8px;
  color:#333;
  border-radius:3px;
  margin-right:15px;
}

a.m-tombolMobileFloat-side {
  display:block;
  padding:2px 8px;
  color:#333;
  background:#ffd600;
  border-radius:3px;
  margin-right:15px;
}

a.m-tombolMobile {
  display:block;
  padding:2px 10px;
  color:#333;
  background:#ffd600;
  border-radius:3px;
  margin-right:5px;
}

.m-ikonMenuMobile-f {
  font-size:30px;
  padding-top:1px;
}

div.m-ListBisnis {
  text-align:left;
}

.m-listProduk {
  text-align:left;
}

.m-listUpdate {
  text-align:left;
  margin-top:15px;
}

a:hover {
  color:#2f2f2f;
  text-decoration:none;
}

#menuMobile {
  background:rgba(1,1,1,0.85);
  position:fixed;
  padding:0 10px;
  height:100%;
  width:320px;
  right:0;
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.4);
  z-index:1000;
  transform:translate(110%, 0px);
  transition:all 0.5s ease-in-out;
}

#menuMobile.active {
  float:right;
  -webkit-transform:translate(0%, 0px);
  31
  transform:translate(0%, 0px);
  32
  transition:all 0.75s ease-in-out;
}

.m-navbarLink-Sidebar:hover {
  background:#ffd600;
  color:#333;
  text-decoration:none;
}

.tombolDropdownSide .caret {
  float:right;
  margin-top:8px;
}

.m-divInput-Side {
  padding:10px;
}

.tombolMobileFloat-side:hover {
  background:#fff;
}

div.m-detailProduk {
  margin-top:10px;
  margin-bottom:0px;
}

p.m-paragrafDetail {
  margin:0;
  color:#2f2f2f;
  font-family:'Roboto';
  font-weight:400;
  font-size:13px;
  padding-bottom:10px;
  text-align:justify;
}

.m-photosProduk {
  margin:0;
  padding-left:5px;
  padding-right:5px;
}

.m-itemProduk {
  padding-left:10px;
  padding-right:10px;
  margin-top:5px;
  margin-bottom:5px;
}

.m-produkLainnya {
  padding:10px 15px;
}

.m-headerProdukLainnya {
  margin:0;
  font-family:'Roboto';
  font-weight:500;
  color:#2f2f2f;
  font-size:18px;
}

.m-divProdukLainnya {
  border-bottom:1px solid #c8c8c8;
  padding-bottom:15px;
}

.m-divUlasan {
  padding:10px 20px;
}

.m-headerUlasan {
  margin:0;
  font-family:'Roboto';
  font-weight:500;
  font-size:18px;
  color:#2f2f2f;
  padding:15px 0px;
}

p.m-namaPengirim {
  margin:0;
  font-family:'Roboto';
  font-weight:500;
  color:#2f2f2f;
  padding:0;
  font-size:12px;
}

.m-divPengirim {
  padding:3px 0px;
  display:flex;
}

.m-waktuPost {
  font-size:10px;
  color:#a1a1a1;
  font-weight:400;
  padding:3px 0px;
  font-family:'Roboto';
  margin-left:5px;
  margin-bottom:0;
}

.m-isiKomentar {
  margin:0;
  padding:5px 0px;
  color:#2f2f2f;
  font-family:'Roboto';
  font-weight:400;
  font-size:14px;
}

.kontenKomentar-lainnya {
  padding-bottom:15px;
  padding-top:15px;
  border-bottom:1px solid #c8c8c8;
}

.m-kontenKomentar {
  padding-bottom:15px;
  border-bottom:1px solid #c8c8c8;
}

.m-ikonBintang:hover {
  color:#2f2f2f;
  transition:0.3s;
  cursor:pointer;
}

.m-sidebarWidget {
  padding:0;
}

.m-widgetPeta {
  height:280px;
  max-height:280px;
}

iframe.m-petaLokasi {
  border-bottom:1px solid #c8c8c8;
  height:280px;
}

.m-widgetArtikelTerkait {
  padding:15px 15px;
  border-bottom:1px solid #eee;
}

.m-widgetProdukSerupa {
  padding:5px 15px;
  border-bottom:1px solid #eee;
}

.m-headingArtikelTerkait {
  margin:0;
  font-family:'Roboto';
  font-weight:400;
  font-size:18px;
  color:#2f2f2f;
}

.m-headingProdukSerupa {
  margin:0;
  font-family:'Roboto';
  font-weight:400;
  font-size:18px;
  color:#2f2f2f;
}

.m-divHeader-ArtikelTerkait {
  margin-bottom:15px;
}

.m-divHeader-proser {
  margin-bottom:15px;
  margin-top:10px;
}

.listProdukSerupa {
  margin:5px 0px;
}

.m-bannerWidget {
  padding:15px;
}

.bannerKode {
  background:url(../../assets/img/dummy-banner.png);
  width:auto;
  height:250px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.m-kirim-inquiri {
  border:none;
  margin:auto;
  border-radius:0;
  background:#ffd600;
  text-shadow:none;
  font-family:'Roboto';
  color:#2f2f2f;
}

.m-kirim-sms {
  border:none;
  border-radius:0;
  background:#ffd600;
  text-shadow:none;
  font-family:'Roboto';
  color:#2f2f2f;
  margin-left:10px;
}

.m-ikonMail {
  margin-right:5px;
}

.m-kirim-inquiri:hover {
  background:#e4c007;
  color:#2f2f2f;
  transition:0.3s;
}

.m-textArea {
  width:100%;
  border:1px solid #d0cece;
  border-radius:0;
}

.m-labelTextArea {
  font-family:'Roboto';
  font-weight:300;
  margin:0 0 5px;
}

.m-Captcha-code {
  width:50%;
  padding:10px 5px;
  border:1px solid #eee;
}

.m-textArea-nope {
  width:50%;
  padding:10px 5px;
}

.m-textArea-email {
  width:50%;
  padding:10px 5px;
}

.m-textArea-nama {
  width:50%;
  padding:10px 5px;
}

.m-textArea-pesan {
  padding:10px 5px;
}

.m-nama-email {
  display:flex;
  width:100%;
}

.m-nama-nope {
  display:flex;
  width:100%;
}

.m-inputNope {
  width:100%;
  height:35px;
  border:1px solid #d0cece;
}

.m-inputEmail {
  width:100%;
  height:35px;
  border:1px solid #d0cece;
}

.m-inputNama {
  width:100%;
  height:35px;
  border:1px solid #d0cece;
}

.m-headerModal {
  margin:0;
  font-family:'Roboto';
  font-weight:400;
  font-size:18px;
  padding:10px 5px;
}

.btn-primary.m-kirim-inquiri:active {
  background:#e4c007;
}

.m-popoup-kueri {
  position:fixed;
  padding-top:100px;
}

.modal-content {
  border:1px solid #eee;
  -webkit-box-shadow:0px 0px 99px -2px rgba(118,117,117,0.71);
  -moz-box-shadow:0px 0px 99px -2px rgba(118,117,117,0.71);
  box-shadow:0px 0px 99px 0px rgba(118,117,117,0.71);
}

.modal-backdrop {
  transition:0.3s;
}

.modal-dialog {
  margin: 0;
  height: 100%;
}

.m-divRatingIcon {
  text-align:center;
}

.m-kolomFotoProduk {
  padding:0;
}

.m-kolom-ratingProduk {
  padding:10px 20px;
}

.m-fotoProduk {
  height:200px;
  background:none;
  border:1px solid #2f2f2f;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.m-rowKategoriBisnis {
  margin:0;
  height:134px;
  overflow-y:scroll;
  display:flex;
  padding:6px 0px;
}

div.row.m-rowHeaderNor {
  margin:0;
  width:100%;
  display:flex;
}

.typewrite {
  background:rgba(3,3,3,0.72);
  color:#ffd600;
  padding:2px 5px;
  width:auto;
}

.m-textBuatReview {
  width:100%;
  border:1px solid #c8c8c8;
  border-radius:0;
}

.m-beriBintang {
  float:left;
}

.m-barisBintang-danKirim {
  width:100%;
}

.m-tombolUlasan {
  height:35px;
  background:#ffd600;
  border-radius:0;
  border:none;
  padding:5px 20px;
  float:right;
}

.m-barisKirim {
  margin-top:20px;
  margin-bottom:15px;
  height:40px;
}

.m-tombolUlasan:hover {
  background:#daba11;
  color:#2f2f2f;
}

.m-tombolUlasan:focus, .m-tombolUlasan:active {
  background:#ffd600;
}

.m-divBisnis-touch {
  height:175px;
  width:100%;
  overflow-y:scroll;
  display:inline-flex;
  padding:5px 10px;
  margin-bottom:5px;
}

.m-copyrightMobile {
  padding:0 5px;
}

.ikonSearch {
  font-size:15px;
  padding:6px;
}

.m-btnCall {
  width:100%;
  padding:13px 25%;
  margin-top:-5em;
}

.m-flex {
  display:flex;
}

.m-li-love {
  text-decoration:none;
  transition:0.3s;
}

.m-d-share {
  text-align:right;
  width:15%;
  margin-top:-6px;
}

.m-div-subh {
  width:85%;
  padding:5px 0;
}

.m-div-logo {
  width:50%;
}

.m-slide-control {
  display:none;
}

.m-dot-indikator {
  position:absolute;
  top:10px;
}

.carousel-inner {
  height:220px;
}

#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top  {
        position: fixed;
        bottom: 30px;
        margin-right: 100px;
        right: -80px;
        
	width: 60px;
	height: 60px;
	display: block;
	margin-bottom: 7px;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top i {
    font-size: 30px;
}
#back-top a:hover span {
	background-color: #777;
}

label.item-list{
  font-weight: 100 !important;
  display: block;
}
.m-forminput2 label {
  display: block;
}