/*@font-face{
	font-family:Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}*/
body{
	margin:0px;
	background:#efefef;
}
.head{
	background:#ffd700;
	min-height:40px;
	padding:1% 2%;
	
}
.chart{
	min-height:50px;
	background:#ffd700;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(209,209,209,1);
	-moz-box-shadow: 0px 5px 11px 0px rgba(209,209,209,1);
	box-shadow: 0px 5px 11px 0px rgba(209,209,209,1);
}
.main-content{
	background:#fff;
	min-height:50px;
	margin:3% 0px;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(209,209,209,1);
	-moz-box-shadow: 0px 5px 11px 0px rgba(209,209,209,1);
	box-shadow: 0px 5px 11px 0px rgba(209,209,209,1);
	padding:5% 0px 0px 0px;
	width:100%;
}
.content{
	padding:1% 8%;
	min-height:40px;
}
.judul-main-content{
	font-family:'Roboto',Arial;
	font-size:4.2vw;
	color:#2f2f2f;
}
.inputan{
	border-radius:0px;
	margin:2% 0px 0px 0px;
	border:1px solid #e4e4e4;
	min-height:6vw;
}
.submit_dash{
	background:#31b0d5;
	min-height:30px;
	width:100%;
	border:none;
	color:white;
	font-family:'Roboto';
	font-size:14px;
	margin:4% 0px 0px 0px;
	padding:10px 0px;
}
textarea {
    resize: none;
}
select{
-moz-appearance: none;
-webkit-appearance: none;
background: rgba(0, 0, 0, 0) url("../img/dropdown.png") no-repeat scroll 98% center / 3.5vw 1.5vw !important;
overflow: hidden;
width: auto;

}

.baris_informasi{
	padding:2% 0px;
	border-bottom:#e4e4e4 solid 1px;
}
.ikon_menu{
  font-size:100px;
  padding-top:4px;
}
.nav_header2{
  min-height:20px;
  padding-left:15px;
  padding-right:15px;
  background:#f5d120;
}
.m-forminput{	
  width:100%;
  padding:2px 15px;
}
.m-forminput2{	
  width:100%;
  padding:2px 0px;
  margin-left:-4px;
}
.m-ikonbutton{
	font-size:15px;	
	margin:1px 0px;
}
.m-maincontent{
	padding:10px 0px 0px 0px;
	background:#fff;
	margin-top:15px;
	margin-bottom:15px;
	-webkit-box-shadow: 3px 4px 13px 0px rgba(201,201,201,1);
	-moz-box-shadow: 3px 4px 13px 0px rgba(201,201,201,1);
	box-shadow: 3px 4px 13px 0px rgba(201,201,201,1);
}
.m-judulmain {
  font-size:14px;
  font-family:'Roboto';
  font-weight:600;
  color:#2f2f2f;
  margin-bottom:10px;
  margin-top:10px;
}
.m-informasi{
  width:100%;
  padding:2px 0px 15px 0px;
}
.m-baris-info{
	width:94%;
	border-bottom:1px solid #e4e4e4;
	height:auto;
	padding:3px 0px 3px 0px;
	margin:0px 2% 2px 2%;
}
.m-ket-info{
	font-size:13px;
	font-family:'Roboto';
	font-weight:100;
	color:#363636;
}
.m-waktu-info{
	font-size:11px;
	font-family:'Roboto';
	font-weight:150;
	color:#31b0d5;
}
#m-nomargin-top{
	margin:0px 0px 15px 0px;
	padding-bottom:5px;
}
.m-bungkus{
	width:100%;
	padding:2px 15px 0px 15px;
}
.m-button-global{
	background:#31b0d5;
	border:none;
	color:white;
	font-family:'Roboto';
	font-size:13px;
	margin:0% 0px 0px 0px;
	padding:10px 0px;
	
}
.m-button-global:first-child{
border-right:1px solid white;
}
.m-ikonprod-delete{
	font-size:15px;	
	margin:10px 0px;
	color:#2f2f2f;
}
.m-ikonprod-pencil{
    font-size:15px;	
    margin:10px 0px;
    color:#2f2f2f;
}
.m-tulisan-utama-check{
	font-family:'Roboto';
	font-weight:600;
	font-size:14px;
	margin-left:-16px;
}
.m-tulisan-sub-check{
	font-family:'Roboto';
	font-weight:300;
	font-size:13px;
	margin-left:-16px;
}
.m-paket-setting-main{
	font-size:13px;
	font-family:'Roboto';
	font-weight:600;
}
.m-paket-setting-sub{
	font-size:13px;
	font-family:'Roboto';
	font-weight:200;
}
.m-ubahpaket-baris{
	width:100%;
	padding:2px 0px;
}
.m-setting-inputan{
	border-radius:0px !important;
	border:1px solid #e4e4e4 !important;
	min-height:10px !important;
	font-family:'Roboto' !important;
	font-size:12px !important;
	margin-bottom:8px !important;
}
.m-bungkus-bisnis-baru{
	background:#fff;
	padding:10px 15px 20px 10px;
	min-height:20px;
}
.m-chart{
	width:100%;
	min-height:20px;
	background:#f5d120;
	padding-top:0px;
}
#chart{
	padding-top:20px;
}
.m-tulisan-welcome{
	font-family:'Roboto';
	font-size:16px;
	font-weight:500;
	background:#f5d120;
}
.m-angka-welcome{
	font-family:'Roboto';
	font-size:25px;
	font-weight:500;
	color:#fff;
	background:#f5d120;
}
.m-tulisan-welcome-sub{
	font-family:'Roboto';
	font-size:14px;
	font-weight:400;
	background:#f5d120;
}
.carousel-indicators {
position: absolute;
top: 88%;
left: 0;
z-index: 15;
width: 60%;
margin-left: 20%;
list-style: none;
text-align: center;
margin-bottom:0px;
}
.carousel-inner{
margin-bottom:0px;	
min-height:20px;
}
.carousel{
	margin-bottom:0px;
}
.slider{
	margin-bottom:0px;
}
.item{
	min-height:20px;
	background:#f5d120;
}
/*input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}*/

 #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
		width:100px;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
	
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
		
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 0px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 100%;
		height:30px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
		.bungkus_map{
		height:150px;
		margin:0px;
	  }
.m-button-gambar{
	text-align:center;
	font-family:'Roboto';
	margin-top:15px;
}
.m-judul-main-2{
	font-size:18px;
  font-family:'Roboto';
  font-weight:600;
  color:#2f2f2f;
  margin-bottom:10px;
  margin-top:10px;
}

#m-nomargin-top2{
	margin:0px 0px 15px 0px;
}

.checkboxFive {
	width: 15px;
	margin: 4px 0px 0px 0px;
	position: relative;
}
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
  	left: 0;
	background: transparent;
	border:1px solid #7d7d7d;
}
.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 2px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkboxFive input[type=checkbox]:checked+label{
	background:#31b0d5;
	border:none;	
}
 input[type="file"]{
	border:0 none;
	-webkit-appearance: none
	background-size:100%;
	background-repeat:no-repeat;
	outline: none;
	height:26px;
 }
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 11px;
    font-weight: 500;
    color: white;
	font-family:Roboto;
    background-color: #e4e4e4;
    display: inline-block;
	margin:10px 0px;
	width:100%;
	padding:10px 0px;
	color:#000;
	text-align:center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.m-ikonbutton-gambar{
	font-size:12px;	
	padding:0px 0px 0px 0px;
}
