.m-btnProduk {
  background:#439c47;
  border-radius:0;
  border:none;
  color:#fff;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
  padding:8px 25px;
}

.m-btnProduk:hover {
  background:#299360;
}

.m-ic-telp {
  margin-right:5px;
  font-size:16px;
}

.m-div-btn {
  text-align:center;
  position:absolute;
  margin-top:-4em;
  width:100%;
}

.m-ulasan-pro {
  padding:15px 15px;
  background:#fff;
}

.m-list-artikel {
  padding:15px 15px;
  background:#fff;
  height:auto;
  overflow-x:scroll;
  overflow-y:hidden;
  display:flex;
}

.m-list-produk {
  padding:12px 15px;
  background:#fff;
  height:175px;
  overflow-x:scroll;
  overflow-y:hidden;
  display:flex;
}

.m-desk-produk {
  padding:12px 15px;
  background:#fff;
}

.m-h-produk {
  font-family:'Roboto';
  font-size:24px;
  color:#414141;
  margin:0;
}

.m-div-header {
  display:flex;
  width:100%;
  padding-bottom:5px;
}

.m-g-judul {
  width:80%;
}

.m-g-share {
  width:20%;
  padding:5px;
  text-align:right;
  display:inline-flex;
  height:40px;
}

.m-ic-share {
  display:block;
  padding:8px 0;
  height:40px;
  width:40px;
  text-align:center;
  transition:0.1s;
  margin:auto;
}

.m-shop-name {
  margin:0;
  padding:5px 0;
  font-size:15px;
  color:#777777;
  font-family:'Roboto';
  font-weight:400;
}

.m-link-kolaps {
  display:block;
}

.m-kol-star {
  width:100%;
  display:flex;
  padding-top:5px;
  border-bottom:1px solid #e1e1e1;
  border-top:1px solid #e1e1e1;
  margin-bottom:5px;
}

.m-ic-star {
  color:#ffd600;
  font-size:24px;
  margin:0;
}

.m-star {
  width:90%;
  padding:5px 0;
  display:flex;
}

.m-ic-star-inactive {
  color:#b7b7b7;
  font-size:24px;
}

.m-div-info {
  padding:3px 5px;
}

.m-p-info {
  font-family:'Roboto';
  font-weight:300;
  font-size:14px;
  color:#b7b7b7;
}

.m-con {
  font-family:'Roboto';
  font-weight:500;
  color:#777777;
}

.m-kolaps {
  padding:6px 0;
}

.m-ic-kolaps {
  font-size:24px;
  color:#b7b7b7;
  padding:3px;
}

.m-p-deskripsi-pro {
  margin:0;
  line-height:1.5;
  font-family:'Roboto';
  font-weight:300;
  font-size:14px;
  color:#777777;
  padding:5px 0;
}

.m-price-produk {
  margin:0;
  font-family:'Roboto';
  font-weight:500;
  color:#2f2f2f;
}

.m-div-produkBtn {
  width:100%;
  height:50px;
  display:inline-flex;
}

.m-btn-query {
  border:none;
  border-radius:0;
  box-shadow:none;
  width:50%;
  padding:15px 0;
  margin:0;
  background:#4acce8;
  float:left;
  margin-right:0.5px;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
}

.m-btn-urutkan {
  border:none;
  border-radius:0;
  box-shadow:none;
  width:50%;
  padding:15px 0;
  margin:0;
  background:#4acce8;
  float:left;
  margin-right:0.5px;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
}

.m-btn-go {
  border:none;
  border-radius:0;
  box-shadow:none;
  padding:10px 15px;
  background:#4acce8;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
  color:#fff;
}

.m-btn-query-sms {
  border:none;
  border-radius:0;
  box-shadow:none;
  width:50%;
  padding:15px;
  margin:0;
  background:#4acce8;
  float:right;
  margin-left:0.5px;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
}

.m-btn-filter {
  border:none;
  border-radius:0;
  box-shadow:none;
  width:50%;
  padding:15px;
  margin:0;
  background:#4acce8;
  float:right;
  margin-left:0.5px;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
}

.m-div-map {
  max-height:200px;
  text-align:center;
  overflow:hidden;
  background:url(../../assets/img/img-map.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.m-headeKomen {
  width:100%;
  padding:5px 0;
}

.m-nama-user {
  margin:0;
  color:#333333;
  font-family:'Roboto';
  font-weight:400;
  font-size:18px;
}

.m-time-post {
  font-family:'Roboto';
  font-size:12px;
  color:#777777;
  font-weight:300;
  margin:0;
  display:block;
}

.m-star-komen {
  float:right;
  margin-top:-40px;
  width:45%;
  text-align:right;
}

.m-owner {
  width:55%;
}

.m-text-komen {
  color:#777777;
  font-family:'Roboto';
  margin:0;
  font-weight:300;
}

.m-open-coment {
  padding:5px 0;
}

.m-btn-create {
  background:#4acce8;
  padding:15px;
  height:50px;
  border-radius:0;
  border:none;
  text-shadow:none;
  font-family:'Roboto';
  font-weight:300;
}

.m-ic-komen {
  font-size:16px;
  margin-right:10px;
}

.m-block-div {
  background:#fff;
  margin-bottom:20px;
  box-shadow:0px 5px 13px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 5px 13px -2px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 5px 13px -2px rgba(0,0,0,0.2);
}

.m-produk-rid {
  width:150px;
  min-width:150px;
  height:100%;
  padding:0 5px;
}

.m-tumb-produk {
  height:100%;
  width:auto;
}

.m-div-tumb {
  height:70%;
  text-align:center;
  align-items:center;
  overflow:hidden;
}

.m-tumb-title {
  margin:0;
  padding:5px 0;
  font-size:14px;
  font-family:'Roboto';
  font-weight:500;
  color:#555555;
}

.m-title-tumb {
  font-size:18px;
  color:#464646;
  font-family:'Roboto';
  font-weight:400;
  text-align:center;
  padding-top:15px;
  margin:0;
}

.m-recent-artikel {
  width:200px;
  height:200px;
  min-width:200px;
  max-height:200px;
  overflow:hidden;
  padding:5px;
}

.m-tumb-artikel {
  width:100%;
  height:auto;
}

.m-tumb-img {
  width:100%;
  height:115px;
  overflow:hidden;
}

.m-title-artikel {
  margin:0;
  font-family:'Roboto';
  font-weight:400;
  color:#414141;
}

.m-desk-tum {
  padding:5px 0;
  height:85px;
}

.m-par-artikel {
  margin:0;
  font-family:'Roboto';
  font-weight:300;
  font-size:13px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:pre-wrap;
  word-break:break-word;
  display:inline;
}

.m-subheader {
  height:50px;
  background:#fff;
  padding:10px 15px;
  display:inline-flex;
  width:100%;
}

.m-sub-head {
  margin:0;
  font-family:'Roboto';
  font-weight:500;
  font-size:18px;
  color:#333333;
}

.m-ic-sort {
  margin-right:15px;
  font-size:14px;
}

.m-ic-filter {
  margin-right:12px;
  font-size:16px;
}

.m-div-btn-go {
  text-align:right;
  padding-bottom:10px;
  padding-right:15px;
}

.panel-group {
  margin:0;
}

.panel-heading {
  display:none;
}

.panel-group .panel + .panel {
  margin:0;
  border:none;
}

.panel-group .panel {
  margin-bottom:0;
  border-radius:0px;
  border:none;
  box-shadow:none;
  -webkit-box-shadow:none;
}

.m-judul-toko {
  font-family:'Roboto';
  font-weight:500;
  font-size:20px;
  color:#555555;
  margin:0;
}

.m-produk-desk {
  padding:15px;
}

.m-div-sponsor {
  padding:0 15px;
}

.m-div-hproduk {
  width:70%;
}

.m-dlabel {
  width:30%;
}

.m-label-sponsor {
  margin:0;
  font-family:'Roboto';
  font-size:14px;
  text-align:right;
  color:#4acce8;
}

.m-label-tolo {
  font-family:'Roboto';
  font-weight:500;
  color:#a1a1a1;
  font-size:12px;
  margin:0;
  padding:3px 0;
}

.m-alamat-produk {
  padding:0;
}

.m-par-addres {
  color:#777777;
  font-family:'Roboto';
}

.m-media-sponsor {
  height:auto;
  padding-bottom:5px;
  display:flex;
  overflow-y:scroll;
}

.m-media-thum {
  width:auto;
  height:100%;
}

.m-div-thumb {
  width:85px;
  min-width:85px;
  height:85px;
  overflow:hidden;
  margin-right:5px;
}

.m-bloc-sponsor {
  padding:15px 0;
  background:#e7f4f7;
  box-shadow:0px 5px 13px -2px rgba(83,138,159,0.37);
  -webkit-box-shadow:0px 5px 13px -2px rgba(83,138,159,0.37);
  -moz-box-shadow:0px 5px 13px -2px rgba(83,138,159,0.37);
  margin-bottom:20px;
}

.m-lebih-banyak {
  font-family:'Roboto';
  font-weight:500;
  margin:auto;
  color:#4acce8;
  display:block;
}

.m-div-more {
  width:100%;
  text-align:center;
  margin-bottom:20px;
}

.m-lebih-banyak:focus {
  color:#219fd1;
  text-decoration:none;
}

.m-lab-urutan {
  color:#555555;
  font-family:'Roboto';
  font-weight:300;
  font-size:14px;
  margin:auto;
}

.m-div-btn-filter {
  text-align:right;
  margin-top:10px;
}

.m-input-lokasi {
  width:100%;
  height:45px;
  border:1px solid #eee;
  padding:5px 10px;
  font-family:'Roboto';
  font-weight:300;
}

.m-form-lokasi {
  margin:0;
}

a.m-li-selenglapnya {
  color:#219fd1;
  font-family:'Roboto';
  font-size:12px;
  font-weight:400;
  text-decoration:none;
}

.m-full-map {
  z-index:0;
  width:100%;
  position:absolute;
  margin-top:60px;
  top:0;
  bottom:0;
  height:100%;
}

.m-direct-map {
  display:block;
  padding:1em;
  margin:5em 2em 5em 2em;
  background:#ffffff;
  border:1px solid #eee;
  border-radius:4px;
  box-shadow:0px 0px 50px 25px rgba(39,49,51,0.19);
  font-family:'Roboto';
  color:#464646;
  text-decoration:none;
  font-weight: 100;
}

a.m-direct-map:focus {
  text-decoration:none;
}

.modal-content {
  border-radius:0;
  border:none;
  min-height: 100%;
}

.modal-footer {
  text-align:center;
  padding:0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modal-body {
  padding:0;
  height:100%;
  width:100%;
  top:0;
  bottom:0;
}

.modal-header {
  padding:0;
}

.m-pop-padding {
  padding:10px 15px;
}

.m-map-bisnis {
  max-height:600px;
  margin:0;
  padding:2px;
}

.m-modal-ulasan {
  max-height:500px;
  overflow:scroll;
}

.m-modal-btn {
  display:none;
}

.formRadio {
  font-family:'Roboto';
  font-size:12px;
  margin:auto;
  text-align:center;
  margin: 20px auto 30px;
}

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after {
  transition:all 0.4s ease;
}

.m-li-love:focus {
  text-decoration:none;
}

a.li-share-facebook {
  display:block;
  height:30px;
  width:30px;
  margin:0px 5px 0px 0px;
  text-align:center;
}

.ic-share-twitter {
  font-size:28px;
  display:block;
  text-align:center;
  color:#219fd1;
}

.ic-share-inked {
  font-size:28px;
  display:block;
  text-align:center;
  color:#1779a0;
}

.ic-share-facebook {
  font-size:28px;
  display:block;
  text-align:center;
  color:#175ea0;
}

.popover-content {
  display:flex;
  border:none;
}

