/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .display {
        display: inherit
    }
	.filder-form input[type="text"] {
	  width: 250px;
	}
}
/* Mobile Layout: 300px. */

@media only screen and (max-width: 767px) {
    .logo-area,
    .search-area {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .menu-area ul {
        margin-top: 0px;
        text-align: center;
    }
    .display {
        display: inherit
    }
    .padding-right {
        padding-right: 15px;
    }
    .padding-left {
        padding-left: 15px;
        padding-right: 15px;
        border: 0px;
    }
    .custom-dropdown button {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .search-area input[type="text"] {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        margin-left: 0px;
    }
	.menu-area ul {
	  text-align: center;
	}
	.filder-form input[type="text"] {
	  width: 250px;
	}
	.divBodiKonten {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	.custom-dropdown .dropdown-menu {
	  margin: 0;
	  width: 100%;
	}
}